.new-contact-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.list-item-details{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.group{
    background-color: #005689;
    color: white;
    padding: 0.2em 0.4em 0.2em 0.4em;
    border-radius: 0.2em;
}